body{
    background-color: orange;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: aqua;
}

h1{
    padding: 40px;
    text-shadow: 2px 2px 2px black;
    font-size: 80px;
}

.palavraSecretaCss{
    text-shadow: 2px 2px 0 black;
    color: red;
    font-size: 50px;
    letter-spacing: 10px;
}

.interacoes{
    word-spacing: 50px;
}

.botao{
    border: none;
    border-style: solid;
    border-color: cyan;
    font-weight: bold;
    font-size: 25px;
    width: 130px;
    height: 60px;
}

.classUserInput::placeholder{
    text-transform: none
}
.classUserInput{
    text-transform: uppercase;
    text-align: center;
    font-weight: 60px;
    border: none;
    border-style: solid;
    border-color: cyan;
    width: 90px;
    height: 55px;
}



#botao:hover,#userInput:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

.informacoes{
    font-size: 23px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px red;
    padding: 65px;
}