body{
    background-color: greenyellow;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: aqua;
}

h1{
    padding: 0px;
    text-shadow: 2px 2px 2px black;
    font-size: 80px;
}

.palavraSecretaCss{
    text-shadow: 2px 2px 0 pink;
    color: red;
    font-size: 90px;
    letter-spacing: 15px;
}

.interacoes{    
    word-spacing: 50px;
}

.botao{
    border: none;
    border-style: solid;
    border-color: cyan;
    font-weight: bold;
    font-size: 25px;
    width: 115px;
    height: 45px;
}

.classUserInput::placeholder{
    text-transform: none
}
.classUserInput{
    text-transform: uppercase;
    text-align: center;
    font-weight: 50px;
    border: none;
    border-style: solid;
    border-color: cyan;
    width: 75px;
    height: 38px;
}

#botao:hover,#userInput:hover{
    cursor: pointer;
    background-color: red;
    color: white;
}

.informacoes{
    font-size: 23px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px red;
    padding: 40px;
}